<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">Interesting Stuff about me...</h1>

                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem aspernatur doloremque tenetur. Sint asperiores tempora, odit nisi, libero voluptatum quam optio consequuntur magnam dolore id eius laboriosam? Vel, quaerat deleniti.</p>
            </div>
    </div>
</div>

    