<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">Welcome to my Site!</h1>
                <div id="progressBar"></div>
                <button type="button" class="btn btn-primary" id="projectsButton">Current Projects</button>
            </div>
    </div>
</div>
