<!-- Main Content -->
<div class="row">
    <div class="col">
          <div class="jumbotron" id="contentArea">
              <h1 class="display-4">Interesting Projects Live Here!</h1>

              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://picsum.photos/id/1081/600/400">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex voluptatem laboriosam, alias ratione accusantium vero quaerat fugit cum debitis voluptatibus, adipisci earum, ipsa saepe facere odio et sint. Ipsa perspiciatis quia voluptate officiis sapiente ex accusantium, amet atque et recusandae delectus, deleniti tempore commodi. Aperiam aut voluptatem cum assumenda, numquam adipisci! Soluta, quis eius veritatis molestiae quasi minus atque error rerum dolore consectetur aspernatur, qui odit! Ab quasi excepturi dicta sunt sapiente error accusantium fuga, dolore at illo maiores praesentium saepe pariatur. Dignissimos culpa nostrum fugiat consequuntur porro cupiditate. Nobis aperiam, ut in, ratione culpa vitae eius dolorem nam et veritatis, vero eum dolores. Eius at labore molestiae recusandae explicabo numquam suscipit tenetur similique qui doloribus impedit, earum perferendis placeat, repellat quo aperiam cum consequuntur sunt aliquam eos optio minima. Quos, assumenda rerum porro architecto illum at, veniam nesciunt quia laborum officiis accusamus dignissimos deleniti recusandae veritatis voluptate. Iure, id voluptatem praesentium sequi vero dignissimos aliquid ea consequuntur a ad quidem, illo voluptates porro eveniet similique autem nostrum amet libero placeat. Quam blanditiis possimus maiores ad quisquam, sed adipisci minus iusto accusamus eius cupiditate nam error aperiam est, quasi nostrum expedita voluptate velit. Ab sequi quo nisi sint cum quod sed sapiente optio explicabo, beatae ea quaerat autem eum id eaque provident nihil placeat voluptatem labore unde modi molestias perspiciatis voluptatum earum. Debitis et accusantium nesciunt possimus ab placeat, obcaecati quas voluptas nihil aspernatur reprehenderit accusamus saepe ipsum non unde nobis beatae, inventore porro sint iste aut quisquam vitae. Aliquam nulla quidem iusto repellendus voluptatibus accusantium praesentium quod minus, corrupti dolor similique aperiam sequi enim velit animi. Repudiandae quos facere provident cumque commodi. Nihil, tenetur. Corrupti vitae qui voluptatem voluptatum sapiente ipsam expedita nostrum quibusdam esse hic vel unde, recusandae in? Accusamus consequuntur laborum blanditiis voluptatibus veritatis repellendus impedit perferendis!</p>
          </div>
    </div>
</div>

