<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">An Interesting List of my Services</h1>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id doloremque quos odit quia, dolorem illum sit quaerat mollitia veritatis excepturi, consectetur quam libero natus ratione aperiam ab neque molestiae delectus!</p>
            </div>
    </div>
</div>

