<!-- Main Content -->
<div class="row">
    <div class="col">
        <div class="jumbotron" id="contentArea">
            <h1 class="display-4">About Me</h1>
            <p>I'm from Toronto, raised in the Durham region, and go to Durham College studying Commputer Programming. I've almost always had in intrest in programming. I started in 2012 with Minecraft mods, then started making small 2D games to expand my knowledge. I didn't really start software development until college, but I took a Java course in high school to learn a little more.</p>
        </div>
    </div>
</div>

    