<!-- Main Content -->
<div class="row">
    <div class="col">
        <div class="jumbotron" id="contentArea">
            <h1 class="display-4">Welcome to my Site!</h1>
            <div id="progressBar"></div>
            <h2>Links</h2>
            <h3>About Me</h3>
            <p>
                I'm curently a student in the Computer Programmer program at Durham College. <a href="/about" id="linkAboutMe">Read More.</a>
            </p>
            <h3>Projects</h3>
            <p>
                I like to tinker with software and programming. I also enjoy producing music. <a href="/projects" id="linkProjects">Read More.</a>
            </p>
            <h3>Contact Me</h3>
            <p>
                If you'd like to contact me, please click on the button above :). <a href="/contact" id="linkContactMe">Read More.</a>
            </p> 
            <h2>Mission Statement</h2>
            <p>
                My goal is to finish school and work in the field for a few years. I intend on returning to Durham College and doing the Cyber Security program.
            </p>
        </div>
    </div>
</div>
