<!-- Main Content -->
<div class="row">
  <div class="col">
        <div class="jumbotron" id="contentArea">
            <h1 class="display-4">My Projects</h1>
            <div class="row">
              <div class="col">
                <div class="card" style="width: 18rem;">
                  <a href="https://github.com/kyle-james/pogo-search-builder">
                    <img class="card-img-top" src="https://avatars0.githubusercontent.com/u/44930548?s=460&v=4" height="285px" width="200px">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">Pokemon Go Search</h5>
                    <p class="card-text">I made this to simplify searching in Pokemon Go.</p>
                    <a href="https://github.com/kyle-james/pogo-search-builder" class="btn btn-primary" target="_blank">PoGo-Search-Builder</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="width: 18rem;">
                  <a href="https://github.com/kyle-james/OpenRPG">
                    <img class="card-img-top" src="https://avatars0.githubusercontent.com/u/44930548?s=460&v=4" height="285px" width="200px">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">OpenRPG</h5>
                    <p class="card-text">An open source game that is (close to...) 100% customizable. Made by me, in Godot (Game Engine).</p>
                    <a href="https://github.com/kyle-james/OpenRPG" class="btn btn-primary" target="_blank">OpenRPG</a>
                  </div>
                </div>
            </div>
            <div class="col">
              <div class="card" style="width: 18rem;">
                <a href="http://kulalolk.pw/projects/games/accuracy">
                  <img class="card-img-top" src="http://kulalolk.pw/projects/games/accuracy/icon-128.png" height="285px" width="200px">
                </a>
                <div class="card-body">
                  <h5 class="card-title">Accuracy</h5>
                  <p class="card-text">A very minimal game I made.</p>
                  <a href="http://kulalolk.pw/projects/games/accuracy" class="btn btn-primary" target="_blank">Accuracy</a>
                </div>
              </div>
          </div>
            </div>
        </div>
    </div>
  </div>
</div>

