<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">Services</h1>
                <p>I have experience in web development, game development, music production.</p>
            </div>
    </div>
</div>

